.frameIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1050px;
  overflow: hidden;
}
.logoIcon {
  position: relative;
  width: 58.5px;
  height: 54px;
}
.ethnoquest {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.logo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-xs);
}
.ucreateDashboardIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.label {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.uangleDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div {
  position: relative;
  line-height: 16px;
}
.badge {
  border-radius: var(--br-1981xl);
  background-color: var(--banner-red);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--btnlabel);
}
.content {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  gap: var(--gap-base);
}
.content,
.home,
.homeChild {
  align-self: stretch;
}
.homeChild {
  position: relative;
  background-color: var(--primary-gray);
  height: 2px;
  display: none;
}
.home {
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home,
.navTextItem,
.topItems {
  display: flex;
  flex-direction: column;
}
.navTextItem {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.topItems {
  height: 356px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--primary-gray);
}
.top,
.topItems {
  align-self: stretch;
}
.desktopContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--btnlabel);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-limegreen);
  font-family: var(--font-inter);
}
.frame,
.frameChild {
  position: absolute;
  width: 1090px;
}
.frameChild {
  top: 107px;
  left: 0;
  background: linear-gradient(180deg, #b1de96 34.9%, #0ef4f4 98.96%);
  height: 917px;
}
.frame {
  top: 0;
  left: 350px;
  height: 1024px;
  overflow: hidden;
}
.frame1,
.image1Icon {
  position: absolute;
  width: 73px;
}
.image1Icon {
  top: 0;
  left: 0;
  height: 55px;
  object-fit: cover;
}
.frame1 {
  top: 43px;
  left: 363px;
  height: 938px;
  overflow: hidden;
}
.frame2,
.markHuyoa {
  position: absolute;
  width: 201px;
}
.markHuyoa {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  height: 28px;
  mix-blend-mode: normal;
}
.frame2 {
  top: 56.5px;
  left: 436px;
  height: 911px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.frameItem {
  position: absolute;
  top: 90px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--btnlabel);
  width: 863px;
  height: 668px;
}
.vectorIcon {
  position: absolute;
  top: calc(50% + 272px);
  left: calc(50% + 363.5px);
  width: 39px;
  height: 33px;
  cursor: pointer;
}
.frame3 {
  position: absolute;
  top: 142px;
  left: 473px;
  width: 863px;
  height: 862px;
  overflow: hidden;
}
.whatIsThe {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.frame4,
.frame5 {
  position: absolute;
  overflow: hidden;
}
.frame4 {
  top: 331px;
  left: 598px;
  width: 614px;
  height: 54px;
  font-size: var(--font-size-17xl);
}
.frame5 {
  top: 255px;
  left: 504px;
  width: 29px;
  height: 514px;
  font-size: 20px;
}
.frame6,
.frame7,
.variantMaster {
  position: absolute;
  top: 0;
  left: 0;
}
.frame6,
.frame7 {
  top: 471px;
  left: 739px;
  width: 113px;
  height: 82px;
  overflow: hidden;
}
.frame7 {
  left: 934px;
  width: 127px;
}
.frame8,
.variantMaster2 {
  position: absolute;
  top: 149px;
  left: 0;
}
.frame8 {
  top: 417px;
  left: 943px;
  width: 109px;
  height: 190px;
}
.frame8,
.frame9,
.quiz {
  overflow: hidden;
}
.frame9 {
  position: absolute;
  top: 417px;
  left: 739px;
  width: 125px;
  height: 190px;
}
.quiz {
  position: relative;
  background-color: var(--btnlabel);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--btnbkgnormal);
  font-family: var(--font-poppins);
}
